*{
    margin : 0;
    padding: 0;
    font-family: "";
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    color: white;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: black;
    color: aliceblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.Ettyma{
    font-size: 1.7rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.7rem;
    transition: 1s;
}

.navbar a:hover,.navbar a:active{
    color: rgb(6, 50, 146);
}

section{
    min-height: 10vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebar{
    display: flex;
    font-size: 60px;
    color: rgb(255, 42, 0);
    
}

About, Pict{
    background-color: black;
}